$icon-font-path: "bootstrap/fonts/bootstrap/";
@import "bootstrap/stylesheets/_bootstrap.scss";




body {
  padding: 0;
}


*{
  margin: 0;
  padding: 0;
}

.container.main {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.barContainer {
  height: 50px;
  overflow-x: scroll;
  text-align: center;
}
.btn-default{
  border: 1px solid #ccc;
}
.barContainer span.percentageText{
  font-weight: bold;
  position: absolute;
  padding-top: 0.5%;
}
.progress-bar{
  background-color: #97bbda;
}
.progress{
  height: 35px;
}
.col-md-6 .btn.btn-default{
  margin-right: 1%;
}






.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar{
  margin-bottom: 0 !important;
  background-color: #777;
  position: absolute;
  height:110px;
}
.logo{
  text-align: center;
  margin-top: 14px;
  margin-left: -19px;
  img{
    width: 18% !important;
    margin-top: -14px !important;
    height: 110px !important;
  }
}

.container{
  min-width: 100%;
}


.header {
  margin-bottom: 10px;
  height:50px;

  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.log-in{
  float: right;
  margin-top: -66px;
  margin-right: 56px;
  .glyphicon-log-in{
    font-size: 30px;
    color: #fff;
  }
}
.row.pdtp10{
  a{
    color: #fff;
  }
}
.glyphicon-home, .glyphicon-stats{
  font-size: 30px;
  color: #fff;
}


.login-container{
  width: 34%;
  margin: 12% 32%;
  position: absolute;  
  .row{
    border: 1px solid #ccc;
    box-shadow: 10px 10px 7px #999;
    height:400px;
    .col-md-12{
      margin-top:81px;
      .login-form{
        .inner-addon{
          position: relative;
          .glyphicon{
            position: absolute;
            padding: 10px;
            pointer-events: none;
            left:0;
          }
          input{
            padding-left:  30px;
          }
          .has-error{
            border: 1px solid red;
          }
        }
        .glyphicon-circle-arrow-right{
          padding-left: 10px;
        }
        .submit{
          .btn-primary{
            background-color: #009AA6 !important;
            border: none !important;
          }
        }
      }
    }
  }
}

.login{
  width:100%;
}

.list{
  position: relative;
  margin: 7%;
  .heading{
    text-align: center;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 54%;
    margin:0 auto;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
      cursor: pointer;
  }

  tr:nth-child(even) {
      background-color: #eee;
  }
  tr:hover{
    background-color: #ccc;
  }

  .map-body{
    margin-left: 380px;
    #map{
      width:500px;
      height:380px;
    }
  }
  
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom:0;
  min-width: 100%;
  min-height: 75px;
  background-color: #777;
  -webkit-transform: translateZ(0)
}

.container-narrow > hr {
  margin: 30px 0;
}
// .progress-bar-danger {
//   background-color: #d9534f;
// }
// .progress-striped .progress-bar-danger {
//   background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
//   background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
//   background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
//   background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
// }


